# Node.js
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Dependency lock files
package-lock.json
yarn.lock

# Build output
dist/

# IDE files
.vscode/
.idea/

# Testing
coverage/

# Miscellaneous
.DS_Store
Thumbs.db