.App {
  text-align: center;
  background-image: url('../public/vote.jpeg'); 
  background-size: cover; 
  background-position: center; 
  min-height: 100vh; 
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); 
}

.authButton:hover {
  background-color: #0056b3; 
}

.button-auth {
  background-color: #190404; 
  color: #FFFFFF; 
  border: none; 
  padding: 16px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  transition-duration: 0.4s; 
  cursor: pointer; 
  border-radius: 4px; 
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.button-auth:hover {
  background-color: #555555; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}